In [2]:
import duckdb
import pandas as pd

In [4]:
sql_query = '''
show tables
'''

with duckdb.connect('data/nyc_parking_violations.db') as con:
    display(con.sql(sql_query).df())

          name
0  first_model
1    ref_model

In [5]:
sql_query = '''
select * from first_model
'''

with duckdb.connect('data/nyc_parking_violations.db') as con:
    display(con.sql(sql_query).df())

  id    name
0  1  ashwin
1  2    anil

In [6]:
sql_query = '''
select * from ref_model
'''

with duckdb.connect('data/nyc_parking_violations.db') as con:
    display(con.sql(sql_query).df())

   count_star()
0             2